doctype html 
html 
    head    
        title Weather Service

        //- CSS Links

        //- Bootstrap
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'
        integrity='sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn' crossorigin='anonymous')
        
        //- Leaflet
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'
        integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
        
        //- my CSS styles
        link(rel='stylesheet' href='../public/styles.css')

    body    
        //- div container of page
        .container-fluid 
            include ./header.pug
            .row    
                .col 
                    #map 
            include ./footer.pug           

        //- Scripts

        //- jQuery
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'
        integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
        crossorigin='anonymous')

        //- Bootstrap
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF'
        crossorigin='anonymous')

        //- Leaflet
        script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')

        //- map.js
        script(src='../public/map.js')